
/* MEDIA QUERIES */

/*TABLETS*/

@media (min-width: 768px) and (max-width: 1025px) {
  .vertical-navbar {
    width: auto;
    max-width: 450px;
    margin: 1rem auto; 
    left: 0;
    right: 0;
    position: relative;
  }

  .navbar-links {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
   }

   /* HER0 SECTION */
  .hero {
    margin: 1rem;
    padding: 1rem;
  }

  .middle-hero {
    margin: 2rem;
  }

  .profile-picture {
    width: 260px;  
    height: 300px;
    margin: 2rem;
  }

  .buttons-homepage {
    margin-bottom: 60px;
  }

   /*ABOUT ME*/
  .about-me {
    font-size: 22px;
    margin: 3rem 1rem 2rem 2rem;
  }

  .divider {
    margin: 0 17px;
  }

  .skills-boxes {
    display: flex;
  flex-direction: column;
  gap: 1rem; 
  margin: 1rem 2rem;
  }

  .button-aboutme:hover {
    transform: scale(1.05); 
  }

  /* SKILLS */
  .webdevskills {
    border-radius: 36px;
    margin: 2rem 2rem 1rem;
    padding: 2rem;
    font-size: 16px;
    
  }

  .skill-badge {
   display: grid;
   grid-template-columns: 1fr 1fr; 
   gap: 1rem 2rem; 
   margin: 1rem;
   padding: 1rem 1rem 1rem 0.2rem;
  }

  .skill-badge .badge span {
  font-size: 1rem;
  }

  .skill-badge .badge small {
  margin: 0.3rem;
  font-size: 1rem;
  }

    /* CONTACT */
    
    /* Contact Information */
    .contact-info {
      font-size: 22px;
      padding: 50px;
      max-width: 100%;
    }

    /* Contact Form */
    .contact-form-container {
      padding: 44px;
      width: 100%;
      
    }

    .contact-form {
      gap: 12px;
    }

    button {
      padding: 1.5rem;
      font-size: 1.5rem;
      border-radius: 5px;
    }

    .darkmode-topbar {
      display: none;
    }
}

/* PHONES */

@media screen and (min-width: 300px) and (max-width: 767px) {
  .vertical-navbar {
    padding: 0.6rem;
    left: 2rem;
    right: 2rem;
    max-width: 30rem;
    bottom: 1rem;           
    top: auto;
    z-index: 99999;
    background-color: #ffcfec
  }

  .navbar-links {
    flex-direction: row;
    gap: 7px;
   }

   /* HER0 SECTION */
  .hero {
    margin:  5rem 0.1rem 7rem;
    max-width: 22rem;
    border-radius: 2.7rem;
    padding: 0.5rem;
  }

  .hero h1 {
    font-size: 33px;
  }

  /* Responsive fix for small screens */
@media (max-width: 600px) {
  .typing-animation {
    font-size: 1.5rem !important;
    animation: typingMobile 3s steps(22, end) forwards 0.4s, blink 0.7s step-end infinite;
  }

  @keyframes typingMobile {
    from { width: 0 }
    to { width: 22ch; } 
  }
}

  .profile-picture {
    width: 12rem;  
    height: 12rem;
    border-radius: 50%;  
    object-fit: cover;  
    margin-top: 0.7rem !important;
}

  .middle-hero {
    margin: 0.1rem 0.2rem 0.1rem;
    flex-direction: column;
  }

  .hero h2 {
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", serif;
    font-size: 25px;
    max-width: 9.8rem;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .profile-picture {
    max-width: 11rem;  
    max-height: 11rem;
    margin-top: -25px;
    margin-bottom: 15px;
    }


  .buttons-homepage a {
    font-size: 15px;
    margin: 0.1rem;
    padding: 0.7rem;
    border-radius: 40px;
  }

   /*ABOUT ME*/
  .about-me {
    display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
    margin: 1rem;
    padding: 5rem 1rem;
    max-width: 22rem;
  }
 
  
  .skills-boxes {
    display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
  }

  .button-aboutme {
    border-radius: 45px;
  }

  .download-button {
    font-size: 12px;
    border-radius: 45px;
  }


  /* SKILLS */
  .webdevskills {
    border-radius: 36px;
    margin: 4.6rem 0.2rem 7rem;
    padding: 3rem 4rem 4rem 3rem;
    font-size: 14px;
    display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
    max-width: 22rem;
  }

  .skill-badge {
    display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
    margin: 0.1rem;
    padding: 2rem;
    max-width: 22rem;
  }

    /* CONTACT */
    .contact-page {
    margin: 4rem 1rem 6rem;
    padding: 1rem;
    display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
    max-width: 22rem;
    }

    /* Contact Information */
    .contact-info {
      padding: 1.6rem;
      display: flex;
	   flex-direction: column;
	   flex-wrap: nowrap;
	   justify-content: center;
     font-size: 16px;
     max-width: 100%;
    }

    /* Contact Form */
    .contact-form-container {
      font-size: 16px;
      padding: 3rem;
      width: 100%;
    }

    .contact-form {
      gap: 12px;
    }

    button {
      padding: 1rem;
      font-size: 15px;
      border-radius: 5px;
    }

    /* PROJECTS */
    .my-projects {
        margin: 4rem 0;
        display: flex;
        flex-direction: column;
        max-width: 22rem;
    }

    .project-image {
      margin: 0.1rem;
      padding: 0.1rem;
      max-width: 22rem;
    }

    .modal-content {
      font-size: 14px;
      display: flex;
      flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
     padding: 2rem;
      max-width: 22rem;
      z-index: 8888
    }

    .project-btn {
      font-size: 15px;
      padding: 0.9rem;
    }

      .darkmode-topbar {
        position: relative;
        top: 6.5rem;
        right: auto;
        width: 100%;
        justify-content: center;
      }

      .darkmode-toggle {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        margin: 0.2rem;
        background: none;
        border-radius: 10rem;
        font-size: 1.3rem;
        cursor: pointer;
      }
      
}