* {
  box-sizing: border-box;
  
}

body {
  font-size: 20px;
  margin: 0;
  background-color: #f8bde055;
}

.page-container {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}


  /* HER0 SECTION */
  .hero {
    border: solid rgb(0, 0, 0);
    border-radius: 150px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: solid rgb(0, 0, 0);
    border-radius: 150px;
    color: rgb(0, 0, 0);
    height: auto;
    margin: 3% 12rem 3% 12rem;
    max-width: 1200px; 
    background-color: #be4d9155;
    overflow-y: auto;
    text-align: center; 
  }

  .middle-hero {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 0.8rem 1.2rem auto;
  }

  .hero h1 {
    font-family: "Roboto Mono", serif;
    font-size: 48px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .profile-picture {
    width: 300px;  
    height: 300px;
    border-radius: 50%;  
    object-fit: cover;  
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    
}

  .hero h2 {
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", serif;
    font-size: 40px;
    max-width: 50%;
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
  }


  .buttons-homepage {
    display: flex;
    justify-content: center; 
    gap: 2rem; 
    margin-bottom: 50px;
  }

  /* Shared styles for both buttons */
  .buttons-homepage a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: "Roboto Mono", serif;
      font-size: 20px;
      font-weight: bold;
      transition: color 0.3s, transform 0.2s;
      border-radius: 100px;
      border: 3px solid rgb(0, 0, 0);
      padding: 15px 30px;
      cursor: pointer;
      width: auto;
      height: auto;
  }

  /* Unique styles for each button */
  .see-more-link {
      color: rgb(0, 0, 0);
      background-color: transparent;
  }

  .download-button {
      color: rgb(255, 255, 255);
      background-color: #56394a;
  }

  /* Hover Effects */
  .buttons-homepage a:hover {
      background-color: #da99c0af;
      transform: scale(1.1); 
  }

  .see-more-link:hover {
      color: #ffffff;
  }

  .download-button:hover {
      color: #000000;
  }

  /*NAVBAR*/

 .vertical-navbar {
   padding: 10px;
   background-color: #ffcfec;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 30%;
   left: 3rem;
   gap: 10px;
   border-radius: 50px;
   border-style: solid;
   width: auto;
   height: auto;
   max-width: 150px;
 }

   .navbar-links {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 1rem;
  }

  .navbar-links a {
    color: #000000; 
    text-decoration: none; 
    font-size: 24px; 
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease; 

  }

  .navbar-links a:hover {
    background-color: #da99c0af; 
    transform: scale(1.1); 
  }
  
  

  .navbar-links a.active-link {
    background-color: #da99c0af;
    color: white;
    transform: scale(1.2);
    font-weight: bold;
  }


  /*ABOUT ME*/
.about-me {
  overflow: visible;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  color: rgb(0, 0, 0);
  margin: 5rem;
  max-width: 1200px;
  font-family: "Roboto Mono", serif;
  font-size: 20px;
  gap: 30px;
}

.about-text {
  line-height: 1.8rem;
}



.skills-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
}

.skill-box {
  width: 200px;
  height: 200px;
  padding: 10px 15px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #c592b0cc;
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto Mono", serif;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: all 0.6s ease;
}

.skill-box:hover {
  transform: scale(1.2); 
}

.skill-icon {
  font-size: 40px; 
  color: #853565db; 
}

.divider {
  width: 6px; 
  background-color: #000000;  
  align-self: stretch;
  margin: 0 15px;
}

.button-aboutme {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Roboto Mono", serif;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s, transform 0.2s;
  border-radius: 100px;
  margin-top: 0.5rem;
  border: 3px solid rgb(0, 0, 0);
  padding: 25px 30px;
  cursor: pointer;
  width: auto;
  height: auto;
}

.button-aboutme:hover {
  color:  #ffffff;
  background-color: #da99c0af;
  transform: scale(1.1); 
  cursor: pointer;
}

/* SKILLS */

.webdevskills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5rem;
    background-color: #b2689460;
    border: 3px solid #000000;
    border-radius: 70px;
    font-family: "Roboto Mono", serif;
    max-width: 1200px;
    width: 60%;
    padding-bottom: 3rem;
    box-sizing: border-box;
}

.skill-badge {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem; 
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
}

.skill-badge h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.skill-badge .badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 11px;
  transition: transform 0.3s ease-in-out;
}

.skill-badge .badge:hover {
  transform: scale(1.10); 
}

.skill-badge .badge img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  object-fit: contain;
}

.skill-badge .badge span {
  font-weight: bold;
  color: #333;
  font-size: 1rem;
}

.skill-badge .badge small {
  font-size: 0.8rem;
}

/* CONTACT */

.contact-page {
  max-width: 1200px; 
  margin: 2rem;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

/* Contact Information */
.contact-info {
  flex: 1;
  text-align: center;
  font-size: 22px;
  background-color: #dca0c4;
  border: 3px solid #000000;
  border-radius: 25px;
  font-family: "Roboto Mono", serif;
  padding: 40px;
}

.contact-info p {
  margin-bottom: 10px;
}

/* Contact Form */
.contact-form-container {
  flex: 1;
  background: #f9f9f9;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #000000;
  border-radius: 25px;
  font-family: "Roboto Mono", serif;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

button {
  background-color: #be4d91;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto Mono", serif;
}

button:hover {
  background-color: #a03c77;
}

.success-message {
  color: green;
  font-weight: bold;
}


/* PROJECTS AND MODAL */

.my-projects {
  text-align: center;
  padding: 40px;
  font-family: "Roboto Mono", serif;
  margin: 0 auto;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-family: "Roboto Mono", serif;
}

.project-item {
  width: 500px;
  cursor: pointer;
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project-item:hover .project-image {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background:#dca0c4;
  padding: 20px;
  border-radius: 35px;
  max-width: 600px;
  text-align: center;
  position: relative;
  font-family: "Roboto Mono", serif;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.project-btn{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #855873;
  font-family: "Roboto Mono", serif;
  font-size: 15px;
  font-weight: bold;
  transition: color 0.3s, transform 0.2s;
  border-radius: 100px;
  border: 3px solid rgb(0, 0, 0);
  padding: 20px 30px;
  cursor: pointer;
  width: auto;
  height: auto;
}
.project-btn:hover {
  color:  #000000;
  background-color: #dca0c4;
  transform: scale(1.1); 
  cursor: pointer;
}

/* MEDIA QUERIES */

/*TABLETS*/

@media (min-width: 769px) and (max-width: 1025px) {
  .vertical-navbar {
    top: 50rem;
    left: 15rem;
    gap: 10px;
    max-width: 450px;
  }

  .navbar-links {
    flex-direction: row;
   }

   /* HER0 SECTION */
  .hero {
    margin: 5rem 10rem 10rem 10rem;
    padding: 1rem;
  }

  .middle-hero {
    margin: 0.8rem 1.2rem 1rem;
  }

  .profile-picture {
    width: 250px;  
    height: 250px;
    margin-left: 53px;
    margin-right: 109px;
    margin-top: -75px;
    
    }

  .buttons-homepage {
    margin-bottom: 30px;
  }

   /*ABOUT ME*/
  .about-me {
    margin: 10rem 2rem 10rem 2rem;
  }
  .divider {
    margin: 0 15px;
  }

  .button-aboutme:hover {
    transform: scale(1.05); 
  }

  /* SKILLS */
  .webdevskills {
    margin: 8rem 1rem 0rem 1rem;
  }

  .skill-badge .badge span {
  font-size: 1.2rem;
  }

  .skill-badge .badge small {
  margin-top: 0.2rem;
  font-size: 1rem;
  }

    /* CONTACT */
    .contact-page {
      flex-direction: column;
    }

    /* Contact Information */
    .contact-info {
      font-size: 22px;
      padding: 50px;
      max-width: 100%;
    }

    /* Contact Form */
    .contact-form-container {
      padding: 44px;
      width: 100%;
      
    }

    .contact-form {
      gap: 12px;
    }

    button {
      padding: 1.5rem;
      font-size: 1.5rem;
      border-radius: 5px;
    }
}

@media screen and (max-width: 480px) {
  .vertical-navbar {
    top: 45rem;
    left: 2.6rem;
    max-width: 300px;
  }

  .navbar-links {
    flex-direction: row;
    gap: 3px;
   }

   /* HER0 SECTION */
  .hero {
    margin: 2rem 10rem 8rem 10rem;
    padding: 1rem;
    
    max-width: 50%;
  }

  .middle-hero {
    margin: 0.8rem 1.2rem 1rem;
    flex-direction: column;
  }

  .profile-picture {
    width: 250px;  
    height: 250px;
    margin-left: 53px;
    margin-right: 109px;
    margin-top: -75px;
    
    }

  .buttons-homepage {
    margin-bottom: 30px;
  }

   /*ABOUT ME*/
  .about-me {
    margin: 10rem 2rem 10rem 2rem;
  }
  .divider {
    margin: 0 15px;
  }

  .button-aboutme:hover {
    transform: scale(1.05); 
  }

  /* SKILLS */
  .webdevskills {
    margin: 8rem 1rem 0rem 1rem;
  }

  .skill-badge .badge span {
  font-size: 1.2rem;
  }

  .skill-badge .badge small {
  margin-top: 0.2rem;
  font-size: 1rem;
  }

    /* CONTACT */
    .contact-page {
      flex-direction: column;
    }

    /* Contact Information */
    .contact-info {
      font-size: 22px;
      padding: 50px;
      max-width: 100%;
    }

    /* Contact Form */
    .contact-form-container {
      padding: 44px;
      width: 100%;
      
    }

    .contact-form {
      gap: 12px;
    }

    button {
      padding: 1.5rem;
      font-size: 1.5rem;
      border-radius: 5px;
    }
}

/* PHONE */

@media screen and (max-width: 480px) {
  .vertical-navbar {
    top: 42rem;
    left: 1.5rem;
    /*gap: 10px;*/
    max-width: 280px;
  }

  .navbar-links {
    flex-direction: column;
    gap: 5px;
    align-items: center;
   }

   /* HER0 SECTION */
  .hero {
    margin: 0.2rem auto;
    padding: 1rem;
    max-width: 0%;
    text-align: center;
  }

  .middle-hero {
    margin: 0.5rem 1rem;
    flex-direction: column;
    align-items: center;
  }

  .profile-picture {
    width: 180px;  
    height: 180px;
    margin: 0 auto;
    display: block;
    }

  .buttons-homepage {
    margin-bottom: 20px;
  }

   /*ABOUT ME*/
  .about-me {
    margin: 6rem 1rem;
    text-align: center;
  }
  .divider {
    margin: 0 10px;
  }

  .button-aboutme:hover {
    transform: scale(1.0); 
  }

  /* SKILLS */
  .webdevskills {
    margin: 8rem 1rem 0rem 1rem;
  }

  .skill-badge .badge span {
  font-size: 1.2rem;
  }

  .skill-badge .badge small {
  margin-top: 0.2rem;
  font-size: 1rem;
  }

    /* CONTACT */
    .contact-page {
      flex-direction: column;
    }

    /* Contact Information */
    .contact-info {
      font-size: 22px;
      padding: 50px;
      max-width: 100%;
    }

    /* Contact Form */
    .contact-form-container {
      padding: 44px;
      width: 100%;
      
    }

    .contact-form {
      gap: 12px;
    }

    button {
      padding: 1.5rem;
      font-size: 1.5rem;
      border-radius: 5px;
    }
}
